.expandedSetting {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.841);
    display: flex;
    justify-content: flex-end;
    border: 1px solid rgb(144, 144, 144);
    margin-left: 300px;
    width: fit-content;
    z-index: 10000;
}

.expandedSetting > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.expandedSetting ul li{
    width: 100%;
    text-align: center;
    padding: .2em;
}

.expandedSetting ul li:hover {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.expandedSettingSpan:hover, .expandedSettingSpanOver:hover {
    cursor: pointer;
    /* background-color: rgba(203, 203, 203, 0.841); */
}

.expandedSettingSpan {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left: 0;
    border-right: 10px solid rgb(144, 144, 144);
    position: absolute;
    margin-left: 290px;
    margin-top: 20px;
}

.expandedSettingSpanOver {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 0;
    border-right: 9px solid #fff;
    position: absolute;
    margin-left: 292px;
    margin-top: 21px;
    z-index: 20000;
}